.container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 1fr;

}
.container div:nth-child(odd) {
    background-color: lightgreen;
}
.container div:nth-child(even) {
    background-color: lightcoral;
}