@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#field {
    background-image: url('./assets/court.png');
    width: $width;
    height: $height;
}

#ball {
    position:relative;
    background-image: url('./assets/ball.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    left: $width/2 - $ball_width/2;
    top: $height/2 - $ball_height/2;
}

#out {
    display: flex;
    #first, #second {
        width:50%;
    }
}

