.first-block {
  display: grid;
  grid-template-columns: 25% 75%;
  img {
    position: absolute;
    width: 770px;
    height: 829px;
    left: 535px;
    top: 105px;
  }
}
.text-prodject-home {
  position: absolute;
  width: 277.76px;
  height: 64px;
  left: 135px;
  top: 438px;
  color: #bdbdbd;
  h1 {
    @include font64;
  }
  .home {
    color: black;
    font-weight: bold;
    font-style: normal;
    font-size: 64px;
    line-height: 64px;
  }
}
.button-left {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 135px;
  top: 656px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}
.button-right {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 210.94px;
  top: 656px;
  background: #f9f9f9;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}
pre {
  position: absolute;
  width: 23.98px;
  height: 24px;
  left: 135px;
  top: 803px;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #bdbdbd;
}

#button-in-picture {
  position: absolute;
  width: 221.81px;
  height: 71px;
  left: 534.66px;
  top: 863px;
  border: none;
  background: #ffffff;
  @include font12;
}
