* {
  margin: 0;
  padding: 0;
}
@import "mixin";
body {
  position: relative;
  width: 1440px;
  height: 4052px;
  background: #ffffff;
  font-family: TT Hoves;
  left: 250px;
  border: 2px solid black;
  margin: 100px;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

@import "header";
@import "first_block";
@import "second_block";
@import "third_block";
@import "fourth_block";
@import "fifth_block";
@import "footer";
