* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 1440px;
  height: 4052px;
  background: #ffffff;
  font-family: TT Hoves;
  left: 250px;
  border: 2px solid black;
  margin: 100px;
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header {
  position: absolute;
  width: 1440px;
  height: 102px;
  left: 0px;
  top: 0px;
  display: grid;
  grid-template-columns: 25% 75%;
}
header div {
  position: absolute;
  left: 136.45px;
  top: 29.14px;
  bottom: 31.33px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

nav {
  position: absolute;
  left: 330px;
  right: 269px;
  top: 44.69px;
  bottom: 45.66px;
  margin-left: 145px;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
nav ul li {
  margin-left: 60px;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: #333333;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
nav ul .with-line {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 52%;
}

.first-block {
  display: grid;
  grid-template-columns: 25% 75%;
}
.first-block img {
  position: absolute;
  width: 770px;
  height: 829px;
  left: 535px;
  top: 105px;
}

.text-prodject-home {
  position: absolute;
  width: 277.76px;
  height: 64px;
  left: 135px;
  top: 438px;
  color: #bdbdbd;
}
.text-prodject-home h1 {
  font-family: TT Hoves;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
}
.text-prodject-home .home {
  color: black;
  font-weight: bold;
  font-style: normal;
  font-size: 64px;
  line-height: 64px;
}

.button-left {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 135px;
  top: 656px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}

.button-right {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 210.94px;
  top: 656px;
  background: #f9f9f9;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}

pre {
  position: absolute;
  width: 23.98px;
  height: 24px;
  left: 135px;
  top: 803px;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #bdbdbd;
}

#button-in-picture {
  position: absolute;
  width: 221.81px;
  height: 71px;
  left: 534.66px;
  top: 863px;
  border: none;
  background: #ffffff;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.second-block {
  display: grid;
  grid-template-columns: 30% 33% 33%;
  position: absolute;
  width: 1170px;
  height: 435px;
  left: 135px;
  top: 1054px;
  background: #fbfbfb;
}
.second-block .rectangle8 {
  position: absolute;
  width: 270px;
  height: 265px;
  left: 100px;
  top: 30px;
}
.second-block .rectangle10 {
  position: absolute;
  width: 270px;
  height: 140px;
  left: 100px;
  top: 325px;
}
.second-block .rectangle9 {
  position: absolute;
  width: 270px;
  height: 345px;
  left: 400px;
  top: 60px;
}
.second-block button {
  position: absolute;
  width: 222px;
  height: 71px;
  left: 700px;
  top: 334px;
  border: none;
  background: #ffffff;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.second-block h1 {
  position: absolute;
  width: 354px;
  height: 64px;
  left: 700px;
  top: 30px;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
}
.second-block p {
  position: absolute;
  width: 400px;
  height: 200px;
  left: 700px;
  top: 114px;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}

.third-block {
  position: absolute;
  width: 1170px;
  height: 268px;
  left: 135px;
  top: 1639px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.third-block h1 {
  position: absolute;
  width: 519px;
  height: 64px;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
}
.third-block .text1 {
  display: grid;
  grid-template-columns: 20% 80%;
}
.third-block .text1 img {
  position: absolute;
  width: 104px;
  height: 140px;
  left: 0px;
  top: 126px;
}
.third-block .text1 p {
  position: absolute;
  width: 279px;
  height: 144px;
  left: 165px;
  top: 124px;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
}
.third-block .text2 {
  display: grid;
  grid-template-columns: 20% 80%;
}
.third-block .text2 img {
  position: absolute;
  width: 104px;
  height: 140px;
  left: 600px;
  top: 126px;
}
.third-block .text2 p {
  position: absolute;
  width: 420px;
  height: 144px;
  left: 750px;
  top: 124px;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
}

.fourth-block {
  position: absolute;
  width: 1170px;
  height: 765px;
  left: 135px;
  top: 2027px;
}
.fourth-block h1 {
  position: absolute;
  width: 427px;
  height: 64px;
  left: 0px;
  top: 0px;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
}
.fourth-block .two-pictures {
  position: absolute;
  top: 124px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.fourth-block .two-pictures h1 {
  position: absolute;
  width: 413px;
  height: 128px;
  left: 79px;
  top: 48px;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  color: #ffffff;
}
.fourth-block .two-pictures p {
  position: absolute;
  width: 222px;
  height: 71px;
  left: 79px;
  top: 190px;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
.fourth-block .three-pictures {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 30px;
  position: relative;
  left: 0px;
  top: 409px;
}
.fourth-block button {
  position: absolute;
  width: 222px;
  height: 71px;
  left: 948px;
  top: 694px;
  background: #333333;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}
.fourth-block #grey-rectangle {
  position: absolute;
  width: 570px;
  height: 255px;
  left: 0px;
  top: 0px;
  background: #333333;
  opacity: 0.8;
}

.fifth-block {
  position: absolute;
  width: 1170px;
  height: 603px;
  left: 135px;
  top: 2912px;
}
.fifth-block h1 {
  position: absolute;
  width: 521px;
  height: 64px;
  left: 0px;
  top: -20px;
  color: #bdbdbd;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
}
.fifth-block #img-with-map {
  position: absolute;
  width: 749px;
  height: 369px;
  left: 421px;
  top: 86px;
}
.fifth-block #map1 {
  position: absolute;
  width: 700px;
  height: 300px;
  left: 450px;
  top: 120px;
}
.fifth-block p {
  position: absolute;
  width: 331px;
  height: 34px;
  left: 40px;
  top: 477px;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #333333;
}
.fifth-block form {
  display: table-caption;
}
.fifth-block form span {
  color: #f10707;
}
.fifth-block form #checkUserName {
  position: relative;
  top: -5px;
}
.fifth-block form #checkNumberPhone {
  position: relative;
  top: -5px;
}
.fifth-block form #checkEmail {
  position: relative;
  top: -5px;
}
.fifth-block form input {
  width: 391px;
  height: 46px;
  background: #f3f3f3;
  position: relative;
  left: 0px;
  top: 70px;
  margin-bottom: 10px;
  border: none;
}
.fifth-block form select {
  width: 391px;
  height: 46px;
  background: #f3f3f3;
  position: relative;
  left: 0px;
  top: 70px;
  margin-bottom: 10px;
  border: none;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #8d8d8d;
}
.fifth-block form textarea {
  position: absolute;
  width: 391px;
  height: 147px;
  left: 0px;
  top: 308px;
  background: #f3f3f3;
  border: none;
}
.fifth-block form #button-submit {
  position: absolute;
  width: 222px;
  height: 71px;
  left: 0px;
  top: 532px;
  background: #333333;
  color: #ffffff;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

footer {
  position: absolute;
  width: 1444px;
  height: 417px;
  left: -2px;
  top: 935px;
  background: #2c2c2c;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
footer img {
  position: absolute;
  width: 145px;
  height: 94px;
  left: 116px;
  top: 58px;
}
footer .contacts {
  position: absolute;
  left: 25%;
  right: 32.99%;
  top: 13.91%;
  bottom: 31.18%;
  display: grid;
  grid-template-columns: 40% 60%;
}
footer .contacts1 ul {
  display: inline;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45px;
  left: 0px;
}
footer .contacts1 ul li {
  list-style-type: none;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
footer .contacts1 p {
  position: absolute;
  left: 0;
  top: 0;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 25px;
}
footer .contacts2 ul {
  display: inline;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45px;
  left: 200px;
}
footer .contacts2 ul li {
  list-style-type: none;
}
footer .contacts2 ul li a {
  font-family: TT Hoves;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
footer .contacts2 ul .map {
  width: 11px;
  height: 16px;
  top: 0px;
  left: -30px;
}
footer .contacts2 ul .phone {
  width: 16px;
  height: 16px;
  top: 67px;
  left: -30px;
}
footer .contacts2 ul .mail {
  width: 16px;
  height: 11px;
  top: 98px;
  left: -30px;
}
footer .contacts2 p {
  position: absolute;
  left: 170px;
  top: 0;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
footer .social {
  position: absolute;
  width: 193px;
  height: 64px;
  right: 212px;
  top: 58px;
}
footer .social p {
  position: absolute;
  left: 0;
  top: 0;
  font-family: TT Hoves;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
footer .social img {
  position: absolute;
  width: 22px;
  height: 19px;
  top: 43px;
  background: #2c2c2c;
}
footer .social .fb {
  position: absolute;
  width: 9.23px;
  height: 18.99px;
  left: 0px;
  top: 46px;
}
footer .social .tw {
  position: absolute;
  width: 21.01px;
  height: 16px;
  left: 44px;
  top: 48px;
}
footer .social .in {
  position: absolute;
  width: 19.98px;
  height: 18.02px;
  top: 46px;
  left: 107px;
}
footer .social .pi {
  position: absolute;
  width: 14px;
  height: 18px;
  left: 163px;
  top: 46px;
}
footer #line {
  position: absolute;
  width: 1440px;
  height: 0px;
  left: 0px;
  top: 347px;
  mix-blend-mode: normal;
  opacity: 0.1;
  border: 1px solid #ffffff;
}
footer p {
  position: absolute;
  width: 258px;
  height: 22px;
  right: 591px;
  bottom: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: rgba(200, 200, 200, 0.5);
}