<div class="container2">
    <div>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рот коварных свою то текстами! До которой прямо приставка бросил?</div>
    <div>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Силуэт, продолжил. Осталось, подпоясал прямо!</div>
    <div>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты.</div>
    <div>Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Но.</div>
</div>