<input type="radio" name="divcolor" #input1 value="red" (click)="getColor(input1.value)">red
<input type="radio" name="divcolor" #input2 value="blue" (click)="getColor(input2.value)">blue
<input type="radio" name="divcolor" #input3 value="gold" (click)="getColor(input3.value)">gold
<input type="radio" name="divcolor" #input4 value="green" (click)="getColor(input4.value)">green<br>
<div [style.background-color]="divColor">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Щеке букв правилами океана агентство!</div>